<div class="wrapper">
    <div class="plan-section">
        <h1>Choose Your Plan</h1>
        <div class="p-div">
            <p>Let's choose the package that is best for you and explore it happily and cheerfully.</p>
        </div>
    </div>
    <div class="pricing">
        <div class="plan-div">
            <img src="../../../assets/images/plan1.svg">
            <h6 class="heading">Free Plan</h6>
            <p>Unlimited Bandwitch</p>
            <p>Encrypted Connection</p>
            <p>No Traffic Logs</p>
            <p>Works on All Devices</p>
            <div class="buy">
                <h5>Free</h5>
                <button class="pricing-btn">Select</button>
            </div>
        </div>
        <div class="plan-div">
            <img src="../../../assets/images/plan1.svg">
            <h6 class="heading">Standart Plan</h6>
            <p>Unlimited Bandwitch</p>
            <p>Encrypted Connection</p>
            <p>Yes Traffic Logs</p>
            <p>Works on All Devices</p>
            <p>Connect Anywhere</p>
            <div class="buy">
                <h5>$9 <span>/ mo</span></h5>
                <button class="pricing-btn">Select</button>
            </div>
        </div>
        <div class="plan-div">
            <img src="../../../assets/images/plan1.svg">
            <h6 class="heading">Premium Plan</h6>
            <p>Unlimited Bandwitch</p>
            <p>Encrypted Connection</p>
            <p>Yes Traffic Logs</p>
            <p>Works on All Devices</p>
            <p>Connect Anywhere</p>
            <p>Get New Features</p>
            <div class="buy">
                <h5>$12 <span>/ mo</span></h5>
                <button class="pricing-btn">Select</button>
            </div>
        </div>
    </div>
</div>