<div class="wrapper">
    <div class="intro">
        <div class="intro-text">
            <h1>Want anything to be easy with LaslesVPN.</h1>
            <p>Provide a network for all your needs with ease and fun using <strong>LaslesVPN</strong> discover
                interesting
                features from us.
            </p>
            <button class="get-started">Get Started</button>
        </div>
        <div class="intro-img">
            <img src="../../../assets/images/intro-ilustration.svg">
        </div>
    </div>
</div>