.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.features-img {
    width: 508px;
}

.features-img img {
    width: 100%;
}

.features-text {
    max-width: 406px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features h1 {
    font-family: Rudik-700;
    font-size: 35px;
}

.features p {
    font-size: 16px;
    font-family: Rudik-400;
}

.add-ticks::before {
    content: url(../../../assets/images/green-tick.svg);
    vertical-align: middle !important;
}