<div class="wrapper">
    <div class="features">
        <div class="features-img">
            <img src="../../../assets/images/Illustration 2.svg">
        </div>
        <div class="features-text">
            <h1>We Provide Many Features You Can Use</h1>
            <p>You can explore the features that we provide with fun and have their own functions each
                feature.</p>
            <p class="add-ticks">Powerfull online protection.</p>
            <p class="add-ticks">Internet without borders.</p>
            <p class="add-ticks">Supercharged VPN</p>
            <p class="add-ticks">No specific time limits.</p>
        </div>
    </div>
</div>