<div class="footer-menu">
    <div>
        <p class="footer-heading">Product</p>
        <p>Download</p>
        <p>Pricing</p>
        <p>Locations</p>
        <p>Server</p>
        <p>countries</p>
        <p>Blog</p>
    </div>
    <div>
        <p class="footer-heading">Engage</p>
        <p>LaslesVPN ?</p>
        <p>FAQ</p>
        <p>Tutorials</p>
        <p>About Us</p>
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
    </div>
    <div>
        <p class="footer-heading">Earn Money</p>
        <p>Affiliate</p>
        <p>Become Partner</p>
    </div>
</div>