<div class="testimonials">
    <div class="testimonials-heading">
        <h1>Trusted by Thousands of Happy Customer</h1>
        <p>These are the stories of our customers who have joined us with great pleasure when using this crazy feature.
        </p>
    </div>
    <div class="reviews">
        <div>
            <div class="top-line">
                <div class="author">
                    <div>
                        <img src="../../../assets/images/rewiew1.svg">
                    </div>
                    <div>
                        <p class="name">Viezh Robert</p>
                        <p>Warsaw, Poland</p>
                    </div>
                </div>
                <div class="stars">
                    <span>4.5</span>
                    <img src="../../../assets/images/star-svg.svg">
                </div>
            </div>
            <div class="text">
                <p>“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far
                    there
                    have been no problems. LaslesVPN always the best”.</p>
            </div>
        </div>
        <div>
            <div class="top-line">
                <div class="author">
                    <div>
                        <img src="../../../assets/images/review2.svg">
                    </div>
                    <div>
                        <p class="name">Yessica Christy</p>
                        <p>Shanxi, China</p>
                    </div>
                </div>
                <div class="stars">
                    <span>4.5</span>
                    <img src="../../../assets/images/star-svg.svg">
                </div>
            </div>
            <div class="text">
                <p>“I like it because I like to travel far and still can connect with high speed.”.</p>
            </div>
        </div>
        <div>
            <div class="top-line">
                <div class="author">
                    <div>
                        <img src="../../../assets/images/review3.svg">
                    </div>
                    <div>
                        <p class="name">Kim Young Jou</p>
                        <p>Seoul, South Korea</p>
                    </div>
                </div>
                <div class="stars">
                    <span>4.5</span>
                    <img src="../../../assets/images/star-svg.svg">
                </div>
            </div>
            <div class="text">
                <p>“This is very unusual for my business that currently requires a virtual private network that has high
                    security.”.</p>
            </div>
        </div>
    </div>
    <div class="slider">
        <div>
            <img src="../../../assets/images/reviews-dots.svg">
        </div>
        <div class="arrows">
            <div>
                <img src="../../../assets/images/left.svg">
            </div>
            <div><img src="../../../assets/images/right.svg">
            </div>
        </div>
    </div>
</div>