/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

@font-face {
    font-family: Rubik-400;
    src: url(./assets/fonts/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-500;
    src: url(./assets/fonts/Rubik/static/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik-700;
    src: url(./assets/fonts/Rubik/static/Rubik-ExtraBold.ttf);
}

.wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}