<div class="wrapper">
    <div class="stat-container">
        <div>
            <div class="stat-icon">
                <img src="../../../assets/images/stat-icon1.svg">
            </div>
            <div class="stat-text">
                <p class="quantity">90+</p>
                <p class="desc">Users</p>
            </div>
        </div>
        <div class="border"></div>
        <div>
            <div class="stat-icon">
                <img src="../../../assets/images/stat-icon2.svg">
            </div>
            <div class="stat-text">
                <p class="quantity">30+</p>
                <p class="desc">Locations</p>
            </div>
        </div>
        <div class="border"></div>
        <div>
            <div class="stat-icon">
                <img src="../../../assets/images/stat-icon3.svg">
            </div>
            <div class="stat-text">
                <p class="quantity">50+</p>
                <p class="desc">Servers</p>
            </div>
        </div>
    </div>
</div>